<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style type="text/css">
        </style>
    </head>
    <body>
        <h1>Tjena</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>
